@import url('https://fonts.googleapis.com/css?family=Bree+Serif');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
@import url('https://fonts.googleapis.com/css?family=Bungee');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+SC');
@import url('https://fonts.googleapis.com/css?family=Mukta');
@import url('https://fonts.googleapis.com/css?family=Poppins');


#container{
  margin-left: auto;
  margin-right: auto;
}
#main{
  box-shadow: -10px 0 10px -10px #333, 10px 0 10px -10px #333;
  width: 88%;
  margin-top: 0px;
  padding-top: 0px;
  min-height: 1700px;
  margin-left: auto;
  margin-right: auto;
  background-color:  #C8C8C8;
}


.poster{
  float: left;
}

.info-box{
  width:500px;

  float: left;
  margin-left: 50px;
/*  background-color: #987abd;*/
}

#titlee {
  text-align: center;
  font-size: 42px;
  margin-left: 120px;
  font-weight: 800;
  font-family: 'Mukta', sans-serif;
}
h1.title {
  text-align: center;
  font-size: 42px;
  margin-left: 120px;
  font-weight: 800;
  font-family: 'Mukta', sans-serif;
}
ul{
  margin-left: 20px;
    list-style: none;
    font-family: 'Poppins', sans-serif;
  }

p.credit{
  text-align: left;
  font-size: 19px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  color: #FFC404;
}
a.person{
  font-weight:normal;
  margin-left: 12px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  color: #000000;
}
.kred{
  height: 13px;
}
.kredmain{
  height: 55px;
}
span.runtime{
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}

.obsada{
  font-family: 'Poppins', sans-serif;

  width:600px;
  height:700px;
  margin-left: 320px;
  margin-top: 10px;
  / background-color: #9900ad; */
}
p.pcast{
  font-size: 18px;
  font-family: 'Poppins', sans-serif;

}
a.pcast{
  /* font-size: 15px; */
  color: #FF0033;
  text-decoration: none;
}

a.pcast:hover{
  color: #FF0000;
  text-decoration: underline;
  font-weight: bold;
}

a.pcast2{
  color: #101010;
  font-size: 16px;
  text-decoration: none;
}

a.pcast2:hover{
  color: #FF0000;
  text-decoration: underline;
  font-weight: bold;
}

p.artic{
  font-size: 17px;
  margin-left: 40px;
  width:450px;
  height: 220px;
  margin-bottom: 60px;
}

.rating-box{
  background-color: #303030;
  margin-left: 890px;
  margin-top: 25px;
  height: 310px;
  width:340px;
  border-radius: 10px;
  /* transform: translate(-50%,-50%); */

}
.rating{
  width: 300px;
  margin-left: 120px;
  margin-top:150px;
  /* background-color: cyan; */
  display: flex;
  position: absolute;
  transform: translate(-50%,-50%) rotateY(180deg);
}

.rating input{
   display: none;
}

.rating label{
  cursor: pointer;
   width: 40px;
   display: block;
   /* background-color: #FFDF00; */
}

.rating label:before{
  content: '\f005';
  font-family: fontAwesome;
  position: relative;
  display: block;
  font-size: 30px;
  color: #101010;

}

.rating label:after{
  content: '\f005';
  font-family: fontAwesome;
  position: absolute;
  display: block;
  font-size: 30px;
  color: #ffdf00;
  top:0;
  opacity: 0;
  transition: .5s
  text-shadow: 0 2px 5px rgba(0,0,0,.5);
}

.rating label:hover:after,
.rating label:hover ~ label:after,
.rating input:checked ~ label:after
{
  opacity: 1;
}

.starr, .lbl {
    float:left;
}

#ilegwizd{
  margin-left: 15px;
  color: #ffdf00;
}

#ilegwizd2{
  margin-left: 15px;
  font-size: 18px;
  color: #FFC404;
}

#addstar{
  margin-top: 60px;
  margin-right: 160px;
  width: 100px;
  height: 40px;
  transform: translate(-50%,-50%) rotateY(180deg);
}
